<?xml version="1.0" encoding="UTF-8"?>
<config>
    <inputSnapshotDirectory>/opt/dailybuild/SnomedCT_RF2Release_INT_20160731/Snapshot</inputSnapshotDirectory>
    <diffReportOutputDirectory>/opt/dailybuild/diff-reports</diffReportOutputDirectory>
    # One date after the previous release
    <startDate>20160201</startDate>
    <currentReleaseDate>20160731</currentReleaseDate>
</config>
